#without {
  width: 270px;
  height: 55px;
  padding-top: 33px;
  top: -50px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  color: #000000;
  border: 0.5px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pic1 {
  position:relative;
  bottom:0px;
  left: -50px;
  top: -20px;
  width: 610px;
  height: 320px;
  float: left;
  background: url(honduran-girl-border-gty-rc-180619_hpEmbed_3x2_992.jpg);
}

#pic2 {
  position:relative;
  top:-55px;
  right:50px;
  float: right;
  width: 600px;
  height: 590px;
}

#source {
  position: relative;
  top: -20px;
  width: 238px;
  height: 21px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #828282;
}

#source2 {
  float: right;
  width: 194px;
  height: 21px;
  position:relative;
  top: 235px;
  left: 142px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

#notme {
  position:relative;
  top: 280px;
  width: 557px;
  height: 0px;
  border: 3px solid #000000;
  transform: rotate(-0.13deg);
}

#KYR {
  width: 452px;
  height: 46px;
  position: relative;
  top: 15px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}

#intro {
  width: 590px;
  height: 345px;
  position: relative;
  top: -30px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

#intro2 {
  width: 100%;
  position: relative;
  top: -235px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

#me {
  width: 557px;
  height: 0px;
  border: 1px solid #000000;
}

#two {
  width: 600px
  float: right;
}

#rights{
  width: 410px;
  height: 103px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 103px;
  color: #000000;
}

#forum {
  width: 300px;
  height: 100px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 103px;
  color: #000000;
}

#resources {
  width: 300px;
  height: 100px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 103px;
  color: #000000;
}

#mission {
  width: 300px;
  height: 100px;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 103px;
  color: #000000;
}

#line2 {
  width: 1564px;
  height: 0px;
  border: 1px solid #000000;
}

#founders {
  position: relative;
  top: -15px;
}

#next {
position: relative;
left: 0%;
top: -1030px;
font-family: Times New Roman;
font-size: 18px;
}
