#Borders {
  float: right;
  background-color: black;
}

#Line1 {
  top: 100px;
  position: relative;
  width: 1250px;
  height: 0px;

  mix-blend-mode: normal;
  border: 3px solid #000000;
  transform: rotate(-0.07deg);
}

#title {
  top: -20px;
  position: relative;
  width: 1202px;
  height: 166px;

  font-family: Times New Roman;
  font-size: 100px;
  line-height: 166px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

#Line2 {
  top: 215px;
  position: absolute;
  width: 1250px;
  height: 0px;

  border: 1px solid #000000;

}

#Author {
  top: 230px;
  position: absolute;
  width: 242px;
  height: 82px;

  font-family: Times New Roman;
  font-size: 20px;
  line-height: 41px;

  color: #000000;
}

#Date {
  top: 250px;
  position: absolute;
  width: 242px;
  height: 82px;

  font-family: Times New Roman;
  font-size: 20px;
  line-height: 41px;

  color: #000000;
}

#WhatToDo {
  top: 275px;
  position: absolute;
  width: 33%;


  font-family: Times New Roman;
  font-size: 25px;
  line-height: 28px;
  text-decoration: underline;

  color: #000000;
}

#StoppedText {
  top: 330px;
  position: absolute;
  width: 33%;

  font-family: Times New Roman;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;

  color: #000000;
}

#WhatToDo2 {
  top: 775px;
  position: absolute;
  width: 33%;

  font-family: Times New Roman;
  font-size: 25px;
  line-height: 28px;
  text-decoration: underline;

  color: #000000;
}

#HomeText {
  top: 830px;
  position: absolute;
  width: 33%;

  font-family: Times New Roman;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;

  color: #000000;
}

#WhatToDo3 {
  top: 900px;
  position: relative;
  width: 33%;
  margin-top: -1020px;
  margin-left: 422px;

  font-family: Times New Roman;
  font-size: 25px;
  line-height: 28px;
  text-decoration: underline;

  color: #000000;
}

#DrivingText {
  top: 550px;
  position: absolute;
  width: 33%;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: -200px;

  font-family: Times New Roman;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;

  color: #000000;
}

#WhatToDo4 {
  top: 300px;
  position: absolute;
  width: 33%;
  top: 50%;
  left: 50%;
  margin-top: 370px;
  margin-left: -200px;
  text-decoration: underline;

  font-family: Times New Roman;
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;

  color: #000000;
}

#DetainedText {
  top: 600px;
  position: absolute;
  width: 33%;
  top: 50%;
  left: 50%;
  margin-top: 395px;
  margin-left: -200px;

  font-family: Times New Roman;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;

  color: #000000;
}

#Forthakids {
  top: 300px;
  position: absolute;
  width: 66%;
  top: 50%;
  left: 50%;
  margin-top: 905px;
  margin-left: -200px;

  font-family: Times New Roman;
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
  text-decoration: underline;

  color: #000000;
}

#ForthakidsText {
  top: 300px;
  position: absolute;
  width: 66%;
  top: 50%;
  left: 50%;
  margin-top: 950px;
  margin-left: -200px;

  font-family: Times New Roman;
  font-size: 20px;
  line-height: 28px;

  color: #000000;
}

#FinalCountdown {
  /* float: left; */
  top: -70px;
  position: relative;
  width: 33%;
  margin-top: 205px;
  margin-left: 850px;
  float: left;
  text-decoration: underline;


  font-family: Times New Roman;
  font-size: 36px;
  line-height: 28px;
  font-weight: bold;

  color: #000000;
}

#FinalCountdownText {
  top: 0px;
  position: relative;
  width: 33%;
  float: left;
  margin-top: -60px;
  margin-left: 200px;
  left: 52%;


  font-family: Times New Roman;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;

  color: #000000;
}

#BackButton {
  position: relative;
  left: -48%;
  float: left;
  top: -270px;

  font-family: Times New Roman;
  font-size: 18px;
}
