#Borders {
  float: right;
  background-color: black;
}

#Line1 {
  top: 100px;
  position: relative;
  width: 1250px;
  height: 0px;

  mix-blend-mode: normal;
  border: 3px solid #000000;
  transform: rotate(-0.07deg);
}

#title {
  top: -20px;
  position: relative;
  width: 1000px;
  height: 166px;

  font-family: Times New Roman;
  font-size: 95px;
  line-height: 166px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

#Line2 {
  top: 215px;
  position: absolute;
  width: 1250px;
  height: 0px;

  border: 1px solid #000000;

}

#words {
  position: relative;
  top: -115px
}

#list {
  position: relative;
  top: -115px;
}
