#Borders {
  float: right;
  background-color: black;
}

#Line1 {
  top: 100px;
  position: relative;
  width: 1250px;
  height: 0px;

  mix-blend-mode: normal;
  border: 3px solid #000000;
  transform: rotate(-0.07deg);
}

#title {
  top: -20px;
  position: relative;
  width: 1202px;
  height: 166px;

  font-family: Times New Roman;
  font-size: 100px;
  line-height: 166px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

#Line2 {
  top: 215px;
  position: absolute;
  width: 1250px;
  height: 0px;

  border: 1px solid #000000;

}
#kayla {
  position: relative;
  width: 558px;
  height: 212px;
  top:500px;

  font-family: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;

  color: #000000;


}

#lipgloss {
  background-color: black;
float;right
  width: 287px;
  height: 88px;
  font-family: Canterbury;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 87px;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  width: 428px;
height: 105px;


}
#Jade {
  float:left;
  width:45%;
}

#Majea {
  float: right;
  width:45%;
}

#Shivani{
  float:center;
  width:35%;
}

#Itzel{
  float:right;
  top: -500px;
  position: relative;
  width:45%;
}

#Kayla{
  float: center;
  width:45%;
}

#Mission {
  float:right;
  top:-680px;
  position: relative;
  width:45%;

}
#jadepic {
  width:200px;
  height:200px;
}

#Shivanipic{
width:200px;
height:200px;
}

#Kaylapic{
width:210px;
height:200px;
}
